<div class="container py-5">
  <p class="fs-2">Formulaire de test</p>
  <form [formGroup]="formTest" (ngSubmit)="onSubmit()">
    <!-- NAME -->
    <div class="mb-3">
      <label class="form-label">Nom</label>
      <input type="text"
             class="form-control"
             formControlName="name"
             [ngClass]="{'is-invalid' : name.invalid && (name.dirty || submit)}">
      @if (name.errors && (name.dirty || submit)) {
        @if (name.errors['required']) {
          <div class="invalid-feedback">
            <div class="form-text text-danger">Champ requis</div>
          </div>
        }
      }
    </div>

    <!-- EMAIL -->
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email"
             class="form-control"
             formControlName="email"
             [ngClass]="{'is-invalid' : email.invalid && (email.dirty || submit)}">
      @if (email.errors && (email.dirty || submit)) {
        <div class="invalid-feedback">
          @if (email.errors?.['required']) {
            <p>Champ requis</p>
          }
          @if (email.errors?.['email']) {
            <p>Email invalide</p>
          }
        </div>
      }
    </div>

    <!-- PASSWORD -->
    <div class="mb-3">
      <label class="form-label">Mot de passe</label>
      <input type="password"
             class="form-control"
             formControlName="password"
             [ngClass]="{'is-invalid' : (password.invalid || !isMatched()) && (password.dirty || submit)}">
      @if (password.errors && (password.dirty || submit)) {
        <div class="invalid-feedback">
          @if (password.errors['required']) {
            <p>Champ requis</p>
          }
          @if (password.errors['pattern']) {
            <p>Le mot de passe doit respecter le format requis</p>
          }
        </div>
      }
    </div>

    <!-- PASSWORD CONFIRMATION -->
    <div class="mb-3">
      <label class="form-label">Confirmation du mot de passe</label>
      <input type="password"
             class="form-control"
             formControlName="confPassword"
             [ngClass]="{'is-invalid' : (confPassword.invalid || !isMatched()) && (confPassword.dirty || submit)}">
      @if (confPassword.errors && confPassword.dirty) {
        <div class="invalid-feedback">
          @if (confPassword.errors['required']) {
            <p>Champ requis</p>
          }
        </div>
      }
      @if (!isMatched()) {
        <div class="invalid-feedback d-block">
          <p>Les deux mots de passe doivent être identiques</p>
        </div>
      }
    </div>

    <!-- LANGUAGES -->
    <div class="mb-3">
      <label class="form-label">Langages de programmation</label>
      <div formArrayName="languages">
        @for (language of languages.controls; track language; let i = $index) {
          <div class="input-group mb-2">
            <input class="form-control"
                   type="text"
                   [formControlName]="i"
                   placeholder="Langage {{i + 1}}"
                   [ngClass]="{'is-invalid' : language.invalid && (language.dirty || submit)}">
            <button class="btn btn-outline-danger" type="button" (click)="removeLanguageInput(i)">X</button>
            @if (language.errors && (language.dirty ||submit)) {
              <div class="invalid-feedback d-block">
                @if (language.errors['required']) {
                  <p>Champ requis</p>
                }
              </div>
            }
          </div>
        }
      </div>
      <button class="btn btn-outline-primary mt-2" type="button" (click)="addLanguageInput()">Ajouter un langage</button>
    </div>

    <!-- SUBMIT -->
    <button class="btn btn-success mt-4" type="submit">Valider</button>
  </form>
</div>
