<div class="container py-5">
  <div class="row">
    <div class="col d-flex flex-column gap-2">
      <a routerLink = "projects"
        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
        Projects
      </a>
      <a routerLink = "contacts"
         class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
        Contacts
      </a>
      <a routerLink = "admin"
         class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
        Admin
      </a>
    </div>
  </div>
</div>
