<div class="container py-5">
  <div class="row">
    <div class="col d-flex flex-column gap-2">
      <a routerLink = "projects"
        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
        Projects
      </a>
      <a routerLink = "contacts"
         class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
        Contacts
      </a>
      <a routerLink = "admin"
         class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
        Admin
      </a>

      <a routerLink = "services"
         class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
        Les services
      </a>
      <a routerLink = "posts"
         class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
        Posts
      </a>

      <a routerLink = "reactive-forms"
         class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
        Reactive Forms
      </a>

      <a routerLink = "login"
         class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
        login
      </a>

    </div>

  </div>
  <button class="mt-4 btn btn-danger" (click)="navigateTo('admin')">Go To Admin</button>

</div>
